<template>
  <div class="footer-container col-12 text-center " >
    <span   >Copyright &#169;<a href="#">DevFast</a></span>        
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.footer-container{
        background-color:#494E53;
        height: 3em;
        min-width: 100%;
        position: relative;
    }
    span{
        color: white;
        top:25%;
        position: absolute;
    }
    a{
        text-decoration: none;
    }
</style>