<template>
   <div class="header-container col-12  ">
        <div class="d-flex">
            <div class="header-logo col-2 ">
                <img src="../assets/images/logo.jpg" alt="" class=" img-fluid mx-auto d-block">
            </div>
            <div class="header-title text-center col-10 h4 align-self-center">
                Blogmanager
            </div>
        </div>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.header-container{
        background-color:#201E1E;
        height: 3em;
    }
    .header-logo{
        max-width: 100%;
        max-height: 100%;
    }
    .header-logo img{
        width: auto;
        height: 3em;
    }

        .header-title{
        color: white;
    }
</style>