<template>
  <div class="menu-container col-2  ">
  
     <nav class="navbar navbar-default  ">
        <ul class="navbar-nav">
            <li class="nav-item  d-flex ">
                <b-icon icon="list-task" class="align-self-center "> </b-icon>
                <nuxt-link class="nav-link pl-1" to="/list">List</nuxt-link>
            </li>
            <li class="nav-item  d-flex ">
                <b-icon icon="newspaper" class="align-self-center"></b-icon>
                <nuxt-link class="nav-link pl-1" to="/new">New</nuxt-link>
            </li>
            <li class="nav-item  d-flex  ">
                <b-icon icon="search" class="align-self-center"></b-icon>
                <nuxt-link class="nav-link pl-1" to="/search"> Search</nuxt-link>
            </li>
        </ul>
    </nav>
                  
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>

    .menu-container{
        background-color: #fff;
        width: 100%;
    }
    .nav-link{
        text-decoration: none;
        color: black;
    }
</style>