<template>
  <div class="blog-list-container col-12 pl-0">  
    
    <div class="list-blog d-flex-column mb-3 mt-3">
      <h4 class="col-12 list-blog-title py-2">{{name}}</h4>
      <table class="list-blog-table table   p-3">
          <thead>
              <tr class="text-center">
                  <th scope="col">Id</th>
                  <th scope="col">Tin</th>
                  <th scope="col">Loại</th>
                  <th scope="col">Trạng thái</th>
                  <th scope="col">Vị trí</th>
                  <th scope="col">Ngày public</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Delete</th>
              </tr>
          </thead>
          <tbody>
              <tr class="text-center" v-for="(blog, index) in blogList"  :key="index">
                  <td scope="row" width="5%" style="font-weight: 700;">{{ blog.id }}</td>
                  <td width="22%">{{ blog.title.slice(0, 25) }}</td>
                  <td>{{ listCategory[blog.category].categoryName }}</td>
                  <td>{{ blog.public ? 'Yes' : 'No' }}</td>
                  <td>{{ blog.position.map(a => listPositions[a - 1].positionName).join(', ') }}</td>
                  <td>{{ blog.data_pubblic}}</td>
                  <td><nuxt-link :to="'/'+ blog.id" type="button" class="btn btn-outline-primary" >Edit</nuxt-link> </td>
                  <td> <button type="button" class="btn btn-outline-danger border-danger" @click="deleteBlog(blog.id)">Delete</button></td>
              </tr>
          </tbody>
      </table> 
    </div> 
  </div>
</template>

<script>
import BlogSearchForm from './BlogSearchForm.vue';
import axios from 'axios';
import { dataMixin } from '../../assets/dataMixin/dataMixin.js';
export default {
    mixins: [dataMixin],
  
    data() {
      return {
          linkApi: "http://localhost:3000/blogs/",
          name: "List Blog",     
      };
    },
    props: ["blogList"],

    mounted() {
      axios.get(this.linkApi)
            .then(response => {
              this.blogList = response.data; 
            })
            .catch(error => {
              console.log(error);
            })   
    },
    methods: {
      async deleteBlog(id) {
          await axios.delete(`${this.linkApi}${id}`)
                 this.blogList = this.blogList.filter(blog => blog.id !== id);
      },  
    }
}
</script>

<style scoped>
  .blog-list-container{  
    width: 100%;
    height: auto;
    
}
.list-blog{
    background-color: #ffff;
    height: auto;
    width: 100%;
    border-radius: 5px;
  
}
.list-blog-title{
  background: #F0F3F5;
}
th,td{
  border-right: 0.2px solid #DEE2E6;
  border-left: none;
}
th:last-child, td:last-child{
  border-right: none ;
}
</style>
