<template>
  <div class="my-2 search-blog">
    <h4 class="search-blog-title p-2">{{ name }}</h4>
   <b-row class="my-2">
    <b-col sm="1" align-self="center" class="pl-5" >
      <label for="input-default" >Title:</label>
    </b-col>
    <b-col sm="11" class="pr-3">
      <b-form-input id="input-default"  v-model="filter" placeholder="Filter table.." @keyup.enter="onKeyUp"></b-form-input>
    </b-col>
    <b-col sm="12" class="text-center my-2">
        <b-button variant="outline-success" align-self="center" class="" @click="onSearch"> Success</b-button>
    </b-col>
  </b-row>
  </div>
</template>

<script>
export default {
    data() {
      return {
        name: 'Search Blogs',
        filter: '',
        
      }
    },
    methods: {  
      //nhập input ấn enter ra kết quả  
      onKeyUp() {
          this.$emit("changeSearch", this.filter)
      },
      //click button search ra kết quả
      onSearch() {
            this.$emit("changeSearch", this.filter)
        },
    }
}
</script>

<style scoped>
    .search-blog-title{
    background: #F0F3F5;
}
.search-blog{
  background-color: #ffff;
    height: auto;
    width: 99%;
    border-radius: 5px;
}
</style>