<template>
   <div class="create-edit-container  col-12"> 
    <div class="create-edit ">
      <h4 class="create-edit-title p-2">{{ name }}</h4>    
      
    <b-form  class="create-edit-form p-2" >
       <div v-html="errorNotify" ></div>
      <b-form-group
        id="input-group-1"
        label="Tiêu đề:"
        label-for="input-1"
      >
        <b-form-input
          id="input-1"
          v-model="form.title"
          placeholder="Enter title"
          required
        ></b-form-input>
      </b-form-group>

      <b-form-group
          id="input-group-2"
          label="Mô tả ngắn:"
          label-for="input-2"
      >    
          <b-form-textarea
              id=" input-2 textarea-default"
              v-model="form.des"
              placeholder="Mô tả ngắn"
              required
          ></b-form-textarea>       
      </b-form-group>

      <b-form-group
          id="input-group-3"
          label="Chi tiết hơn:"
          label-for="input-3"
      >    
          <b-form-textarea
              id="textarea-large"
              rows="6"
              placeholder="Mô tả dai"
              v-model="form.detail"
              required
          ></b-form-textarea>       
      </b-form-group>

      <b-form-group
          id="input-group-4"
          label="Hình ảnh:"
          label-for="input-4"
      >
          <b-form-file id="thumbs" class="mt-3" plain
            v-model="form.thumbs"
            required
          > </b-form-file>   
      </b-form-group>

      <b-form-group  id="input-group-5" label="Vị trí:" >
        <b-form-checkbox-group
            id="checkboxes-5"
            v-model="form.position"
            :options="optionPosition"
            required
        ></b-form-checkbox-group>
      </b-form-group>

    <b-form-group id="input-group-6" label="Public" >
      <b-form-radio-group
        id="radio-6"
        v-model="form.public"
        :options="optionPublic"
        name="radio-options"
        required
      ></b-form-radio-group>
    </b-form-group>

    <div class="row mb-4">
      <b-form-group id="input-group-7" label="Loại:" class="col-6">     
        <b-form-select id="input-7" v-model="form.category" required>
        <option selected> Choose</option>
        <option :value = "category.id" v-for="category in listCategory" :key="category.id" >{{category.categoryName}}</option>
        </b-form-select>
       </b-form-group>
       
    <b-form-group id="input-group-8" label="Date Public" class="col-6">
        <b-form-datepicker id="example-datepicker" v-model="form.data_pubblic" class="mb-2" required></b-form-datepicker>
    </b-form-group>
    </div>
    
     <div v-html="successNotify" class="text-center"></div>
      <div class="create-edit-button text-center">
        <b-button type="submit" variant="success" @click.prevent = "onSubmit">Submit</b-button>
      <b-button type="reset" variant="primary" @click = "onClear">Clear</b-button>
      </div>
      
    </b-form>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { addListener } from 'process';
import { dataMixin } from '../../assets/dataMixin/dataMixin.js';
export default {
  mixins: [dataMixin],
    data() {
      return {
        name:'',
        linkApi: "http://localhost:3000/blogs/",
        errors: [],
        errorNotify:'',
        successNotify:'',
        form: {
          id: this.$route.params.id,
          title: '',
          des: '',
          detail: '',
          thumbs: null,
          position: [],
          public: '',
          category: '', 
          data_pubblic: new Date().toString,     
        },
        ok:true,
      }
    },
    
    methods: {
     
      onSubmit() {
        if(this.form.id ){
           if( this.form.title === '' || this.form.des === '' || this.form.detail === ''  || !this.form.position.length || this.form.category === '' ){
             this.showError();
             window.scroll({ top: 0, behavior: 'smooth' });

          }
          else{
              this.successNotify = '<div class="mb-3 h4" style="color:#28a745 !important; font-weight: 800;">Sửa thông tin thành công!</div>';
              this.errorNotify = '';
              axios.put(`${this.linkApi}${this.form.id}`, this.form).then((res) => {
                console.log(res);
              })
              this.onClear();
          }
         
        }else if(!this.form.id) {
            if( this.form.title === '' || this.form.des === '' || this.form.detail === ''  || !this.form.position.length || this.form.category === '' ){
              this.showError();
              window.scroll({ top: 0, behavior: 'smooth' });
              this.successNotify = '';  

            }else{
                this.successNotify = '<div class="mb-3 h4" style="color:#28a745 !important; font-weight: 800;">Thành công!</div>';
                this.errorNotify = '';
                axios.post(this.linkApi, this.form);
                this.onClear();
          }
        }   
      },
      onClear() {
        
        // Reset our form values
        this.form.title = ''
        this.form.des = ''
        this.form.detail = ''
        this.form.thumbs = null
        this.form.position = []
        this.form.public = ''
        this.form.category = ''
        this.form.data_pubblic = new Date()
        
      },
       showError(){
        for (var key in this.form) {
              if(this.form.title === ''){
                this.errorNotify = '<div class="mb-3" style="color:red !important; font-weight: 600;">Hãy nhập đầy đủ tiêu đề!</div>';            
                break;
              }
              else if (this.form.des === ''){
                 this.errorNotify = '<div class="mb-3" style="color:red !important; font-weight: 600;">Hãy nhập đầy đủ mô tả ngắn!</div>';
                 break;
              }
              else if (this.form.detail === ''){
                  this.errorNotify = '<div class="mb-3" style="color:red !important; font-weight: 600;">Hãy nhập đầy đủ mô tả chi tiết!</div>';
                  break;
              }else if(this.form.thumbs === ''){
                continue;
              }
              else if(!this.form.position.length){
                  this.errorNotify = '<div class="mb-3" style="color:red !important; font-weight: 600;">Hãy nhập đầy đủ vị trí!</div>';
                  break;
              }else if(this.form.public === ''){
                console.log("fasgsgs")
              }
              else if(this.form.category === ''){
                  this.errorNotify = '<div class="mb-3" style="color:red !important; font-weight: 600;">Hãy nhập đầy đủ loại lĩnh vực !</div>';
                  break;
              }else if(this.form.data_pubblic ){
                  continue;
              }
        }
      },
    },
    created() {
      if(this.form.id){
        axios.get(`${this.linkApi}${this.form.id}`)
            .then(response => {
              this.form = response.data;  
            })
            .catch(error => {
              console.log(error);
            });
            this.name = 'Edit Blog'
      }else {
        this.name = 'New Blog'
        this.onClear();    
      }  
  },
    
}

</script>

<style>
.create-edit-container{
    width: 100%;
    height: auto;
}
.create-edit{
  margin: 1.5em 0;
  padding: 1em;
   background-color: #ffff;
    height: auto;
    width: 100%;
    border-radius: 5px;
}
.create-edit-title{
  background: #F0F3F5;
}

</style>