<template>
  <div id = "edit-blog">
    <blog-create-edit></blog-create-edit>
  </div>
  
</template>

<script>

import axios from '@nuxtjs/axios'
import BlogCreateEdit from '../components/blog/BlogCreateEdit.vue'
export default {
  components: { BlogCreateEdit },
    
}
</script>

<style>
 
</style>