<template>
<div id="blog">     
    <blog-list></blog-list>
</div>
    
</template>

<script>
import axios from 'axios';
import BlogList from '~/components/blog/BlogList.vue'
export default {
    
    name: 'List',
    data() {
        return {
        }
    },

    components: {
        BlogList
    },

    methods: {
    },
    
  
}
</script>
<style scoped>

</style>