<template>
    <div id = "new-blog">
     
    <blog-create-edit></blog-create-edit>
 
  </div>
</template>

<script>
import BlogCreateEdit from '../components/blog/BlogCreateEdit.vue'
export default {
    components: {
    BlogCreateEdit
},
    data: {
      name: 'New Blog',
    }
}
</script>

<style>

</style>