<template>
  <div id="search-blog">
        
            <div class="col-12">
                <blog-search-form @changeSearch="searchBlog($event)"></blog-search-form>
            </div>
            <div class="col-12">
                 <blog-list :blogList ="blogList"></blog-list>
            </div>   
       
       
    
  </div>
</template>

<script>
import axios from 'axios';
import BlogSearchForm from '~/components/blog/BlogSearchForm.vue'
import BlogList from '~/components/blog/BlogList.vue'
import AppMenu from '../components/AppMenu.vue';



export default {
    name: 'SearchPage',
    components: {
    BlogSearchForm,
    BlogList,
    AppMenu
},
    data() {
        return {
            word: '',
            blogList: [],
            List: []
        }
    },
    methods: {   
        // tìm tên theo title
        searchBlog(keySearch){
            this.word = keySearch;
            this.blogList= this.List.filter(blog => blog.title.toLowerCase().includes(keySearch.toLowerCase()));
        }
    },
}
</script>

<style>

</style>